

<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="application.css">
  <title>Bookers</title>
</head>

<body>
<h1>Books</h1>

<div class="container">
      <div class="row">
      	<div class="col-lg-4" style="background-color: orange;"> 
              <h2>サイドバー</h2>
          </div>
          <div class="col-lg-8">

<table>
<thead>
<tr>
<th>Title</th>
<th>Body</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @lists.each do |list| %>
<tr>
  <td><%= list.title %></td>
  <td><%= list.body %></td>

    <td>
      <%= link_to "Show" %>
      <%= link_to "Edit" %>
      <%= link_to "Destroy" %>
        </td>
  </tr>
 
  	<%= link_to 'New Post', new_post_path, class: "btn btn-default" %>
  <% end %>
</tbody>
</table>
</div>
</div>
</div>